<div class="navlist" style="height: 85px">
    <nav class="navbar sticky-top fixed-top">
        <div class="container-fluid">
            <a class="text-white" href="#">Library Management System</a>
            <ul style="margin-top: 1rem">
                <a routerLink="" class="me-3 text-white">Home</a>
                <a routerLink="adminlogin" class="me-3 text-white">Login</a>
                <a routerLink="books" class="me-3 text-white">Books</a>
                <a routerLink="searchBooks"  class="me-3 text-white">SearchBooks</a>
                <a routerLink="students" class="me-3 text-white">Students</a>
            </ul>
        </div>
    </nav>
</div>