<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="text text-center mt-5">
                    <h1 class="text-dark"> Welcome to Digi Library!</h1>
                    <p>a step ahead to access all your library resources</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-10 col-sm-12">
                <div class="form-box px-5 py-4">
                    <img src="../../assets/images/librarybook.png" alt="">
                </div>
            </div>

        </div>
    </div>
</section>